body {
  padding-top: 50px;
  margin-bottom: 4em;
}

.navbar-brand {
    height : 50px;
    padding : 0px 0px 0px 15px;
}

.padding-top {
    padding-top : 20px;
}

.navbar-akishimama {
    background-color: #9F8DC6;
}

.btn-default {
    color: #fff;
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}

#brand-logo {
    height : 100%;
}

html {
  min-height: 100%;
  position: relative;
}

hr {
    margin-top : 0px;
    margin-bottom : 0px;
}

footer {
  padding-top : 20px;
  bottom: 0;
  height: 4em;
  width: 100%;
  position: absolute;
  font-weight: bold;
  text-align:center;
}