<!DOCTYPE html>
<html         lang="ja"
              xmlns         = "http://www.w3.org/1999/xhtml"
              xmlns:th      = "http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>太陽こども病院</title>
    <!-- 実際に実行する際はlayout.htmlを参照するのでここはthymeleafの設定を入れません。 -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  />
    <link href="../static/css/common.css" rel="stylesheet" />
</head>
<body>
<div id="layout-root" layout:fragment="layout-content">
    <div class="container">

        <table class="table">
            <tr><th>取り扱いワクチン</th><td>xxxx</td></tr>
        </table>

    </div>
</div>
</body>
</html>