<!DOCTYPE html>
<html         lang="ja"
              xmlns         = "http://www.w3.org/1999/xhtml"
              xmlns:th      = "http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>太陽こども病院</title>

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet" />
</head>
<body>
<div id="layout-root" layout:fragment="layout-content">
    <div class="container">
        <div class="page-header">
            <h3><span th:text="${hospital.name}">太陽こども病院</span>　<small><span th:text="${hospital.address}">松原町１−２−１</span></small></h3>
        </div>
        <div class="jumbotron">
            <h5><b>取り扱いワクチン</b></h5>
            <ul>
                <li th:each="vaccine : ${hospital.vaccineList}" th:text="${vaccine.name}">ヒブ</li>
            </ul>
            <h5><b>予約</b></h5>
            <ul>
                <div th:switch="${hospital.reservation}">
                    <li th:case="true">可</li>
                    <li th:case="false">不可</li>
                </div>
            </ul>
            <h5><b>接種後のケア</b></h5>
            <ul>
                <li><span th:text="${hospital.vaccineInfo}">特になし。症状が出た場合は別途受診。</span></li>
            </ul>
        </div>
        <div>
            <h4>みんなのアンサーまとめ</h4>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">通ってる人分布</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">3</span>緑町１丁目
                        </li>
                        <li class="list-group-item">
                            <span class="badge">10</span>緑町２丁目
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>緑町３丁目
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>松原町１丁目
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">病院について</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><span th:text="${hospital.info}">xxxx</span></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">先生について</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><span th:text="${hospital.doctorsInfo}">xxxx</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>