<html
        lang="ja"
        xmlns:th      = "http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>トップページ</title>

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet" />
</head>

<body>

<div id="layout-root" layout:fragment="layout-content">
    <div class="jumbotron">
        <div class="container">
            昭島のママのために<br />
            妊娠・出産・子育てに関わる情報を発信します。<br />
            皆様からの情報もお待ちしております。<br />
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <a class="btn btn-default btn-lg btn-block" href="yobou">予防接種情報</a>
        </div>

        <hr />
        <h4>What's new</h4>
        <div class="list-group">
            <div class="list-group-item" th:each="whatsNew : ${whatsNewList}" th:object="${whatsNew}">
                <h4 class="list-group-item-heading">
                    <strong th:text="*{title}">What's new title</strong>
                    <small class="pull-right" th:text="*{formattedPostedAt}">YYYY/MM/DD</small>
                </h4>
                <p class="list-group-item-text" th:text="*{content}">
                    What's new content.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
