<html
        lang="ja"
        xmlns:th      = "http://www.thymeleaf.org"
        xmlns:layout  = "http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta th:remove="all" charset="utf-8" />
    <meta th:remove="all" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta th:remove="all" name="viewport" content="width=device-width, initial-scale=1" />
    <link th:remove="all" rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link th:remove="all" href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet" />

    <link rel="icon" href="../../favicon.ico" />

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">あきしmama</title>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-akishimama">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="brand-logo" alt="Brand" src="../static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" />
            </a>
            <button
                    th:unless="${user}"
                    type="button"
                    class="btn btn-default navbar-btn pull-right"
                    data-toggle="modal"
                    data-target="#loginModal">ログイン</button>
            <p
                    th:if="${user}"
                    th:text="${user.nickname}"
                    class="navbar-text pull-right">ニックネーム</p>
        </div>
    </div>
</nav>
<div id="layout-root" layout:fragment="layout-content">
    <p>ここにコンテンツが入ります。</p>
    <p>ここにコンテンツが入ります。</p>
    <p>ここにコンテンツが入ります。</p>
    <p>ここにコンテンツが入ります。</p>
    <p>ここにコンテンツが入ります。</p>
    <p>ここにコンテンツが入ります。</p>
</div><!-- /.container -->

<footer>
    <div>&#169; 2016 あきしmama</div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ログイン</h4>
            </div>
            <div class="modal-body">
                <form action="/connect/twitter" method="POST">
                    <button type="submit" class="btn btn-default">
                        Twitter でログイン
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../static/assets/js/jquery-3.1.1.min.js" th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

</body>
</html>
