<html
        lang="ja"
        xmlns:th      = "http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>トップページ</title>

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet" />
</head>

<body>

<div id="layout-root" layout:fragment="layout-content">
    <form>
        <input type="text" name="nickname" />
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>
