<!DOCTYPE html>
<html         lang="ja"
              xmlns         = "http://www.w3.org/1999/xhtml"
              xmlns:th      = "http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>予防接種情報</title>

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
    <link href="../static/assets/css/common.css" th:href="@{/assets/css/common.css}" rel="stylesheet" />
</head>
<body>
<div id="layout-root" layout:fragment="layout-content">
    <div class="container">
        <h3>１秒アンサー<small>　さくっと答えてね</small></h3>
        <div class="jumbotron">
        <form>
            <div class="form-group">
                <label>Q1.お住まいはどちらですか？</label>
                <select multiple="" class="form-control">
                    <option>緑町１丁目</option>
                    <option>緑町２丁目</option>
                    <option>緑町３丁目</option>
                    <option>緑町４丁目</option>
                    <option>緑町５丁目</option>
                </select>
            </div>
            <div class="form-group">
                <label>Q2.予防接種に通っている病院はどちらですか？</label>
                <select  multiple="" class="form-control">
                    <option>太陽こども病院</option>
                    <option>まことクリニック</option>
                    <option>松原町クリニック</option>
                    <option>田中団地診療所</option>
                    <option>大久保内科クリニック</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default btn-sm">アンサーする！</button>
        </form>
        </div>

        <h3>医療機関一覧</h3>
        <div class="alert alert-info" role="alert">
            平成２８年度の昭島市種医療機関を元に作成しています。<br />
            詳細ページに、みなさまからの情報をまとめております。
        </div>
        <table class="table">
            <tr><th>医療機関名</th><th>所在地</th></tr>
            <tr><td><a href="/yobou/hospital/1">太陽こども病院</a></td><td>松原町１−２−１</td></tr>
            <tr><td>まことクリニック</td><td>松原町２−９−１</td></tr>
            <tr><td>松原町クリニック</td><td>松原町４−２−１</td></tr>
            <tr><td>田中団地診療所</td><td>田中町３−５−１７−１０３</td></tr>
            <tr><td>大久保内科クリニック</td><td>拝島町２−１６−１７</td></tr>
        </table>
    </div>
</div>
</body>
</html>